<class-angular-divider>Placeholder Component</class-angular-divider>

<class-angular-placeholder 
[lines]="5">
</class-angular-placeholder>

<br >

<class-angular-divider>Segment Component</class-angular-divider>

<class-angular-segment>
    <header>
        <i class="pdf file outline icon"></i>
      No documents are listed for this customer.
    </header>
    
    <div class="ui primary button">
        Add Document
    </div>
</class-angular-segment>

<!-- <class-angular-segment>
    <header>
        <i class="add icon"></i>
        Add a resource
    </header>
    
    <div class="ui primary button">
        CLick to Add
    </div>
</class-angular-segment> -->